<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jumpa">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/jumpa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jumpa"
        android:supportsRtl="true"
        android:theme="@style/Theme.JuMpa">

        <meta-dataDashboard
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".SignUpActivity" />
        <activity android:name=".HistoryActivity"/>
        <activity android:name=".DetailHistoryActivity" />
        <activity android:name=".DaftarHargaActivity" />
        <activity android:name=".CariAlamatActivity" />
        <activity android:name=".CariOutletActivity" />
        <activity android:name=".SelesaikanTransaksiActivity"/>
        <activity android:name=".PickUpActivity" />
        <activity android:name=".DropOffActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>